# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
*.egg
.pytest_cache

# Virtual env
.venv/
venv/

# Tools
.ruff_cache/

# Project
/output/
*.db
pipeline_state.db

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo
